@model ZarinpalPayment.Models.Payment
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="text-center text-success">برای مشاهده عملکرد کد آزمایش <a asp-controller="Sandbox" asp-action="Index">اینجا</a> کلیک کنید
            </h3>
            <h3 class="text-center text-success">برای مشاهده عملکرد نهایی <a asp-controller="Payment" asp-action="Index">اینجا</a> کلیک کنید
            </h3>
        </div>
    </div>
</div>