@model ZarinpalPayment.Models.Payment
@{
    ViewData["Title"] = "آزمایش درگاه";
}
<br />
<div class="row">
    <div class="col-xs-12">
        <h3 class="text-success">پرداخت آزمایشی جهت آزمایش کد نوشته شده</h3>
    </div>
    <div class="col-sm-12">
        <form asp-controller="Sandbox" asp-action="Payment" method="post">
            <div class="form-group">
                <label asp-for="Amount"></label>
                <input asp-for="Amount" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Mobile"></label>
                <input asp-for="Mobile" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-success">پرداخت</button>
        </form>
    </div>
</div>
